<p>assignment-detail works!</p>

@if(assignmentTransmis) {
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title> Nom du devoir: {{assignmentTransmis.nom}}</mat-card-title>
      <mat-card-subtitle>
        A rendre le : {{assignmentTransmis.dateDeRendu | date:'dd/MM/yyyy'}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Ici description du devoir
      </p>
    </mat-card-content>
    <mat-card-actions id="bottom">
      <!--
    <button mat-raised-button color="primary">Back</button>
    -->
      @if(!assignmentTransmis.rendu && isLogged()) {
        <mat-checkbox (click)="onAssignmentRendu()">Projet rendu</mat-checkbox>
      }

      <!-- Bouton EDIT pour modifier le devoir -->
      <button mat-stroked-button color="primary" (click)="onClickEdit()" [disabled]="!isAdmin()">
        Modifier
      </button>

      <!-- Bouton DELETE pour supprimer le devoir -->
      <button mat-raised-button color="warn" (click)="onDeleteAssignment()" [disabled]="!isAdmin()">
        Supprimer
      </button>
    </mat-card-actions>
  </mat-card>
}
